﻿@inherits LayoutComponentBase
@inject IJSRuntime  JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <div class="container-history-back">
            <button class="btn btn-info text-white" @onclick="HistoryBack"><i class="oi oi-arrow-left"></i></button>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task HistoryBack()
    {
        await JSRuntime.InvokeVoidAsync("history.back");
    }
}
