<h1>Rutas</h1>
<ul>
  <li>
    <a routerLink="/auth/login">Login</a>
  </li>
  <li>
    <a routerLink="/sistemas/bitacora/listar">Listar Bitácora</a>
  </li>
  <li>
    <a routerLink="/sistemas/hv/listar">Listar HV</a>
  </li>
</ul>

<router-outlet></router-outlet>