@page "/products"
@inject HttpClient Http
@inject IProductService ProductService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@using blazor_crud.Models

<PageTitle>Products</PageTitle>

<link href="css/products/style.css" rel="stylesheet">

<h3>Product list</h3>


@if (ProductService.Products.Count() == 0)
{
    <div class="spinner-border text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else
{
    <div class="container-options">
        <button 
            type="button" 
            class="btn btn-primary text-white" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            title="New product"
            @onclick="AddNewProduct"
        >

            <span class="oi oi-plus" aria-hidden="true"></span>

        </button>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Reference</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in ProductService.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Reference</td>
                    <td>@product.Price</td>
                    <td>@product.Quantity</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => ShowProduct(product.Id)"><i class="oi oi-pencil"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await ProductService.GetActiveProducts();
    }

    private void AddNewProduct()
    {
        NavigationManager.NavigateTo("/product");
    }

    private void ShowProduct(int id)
    {
        NavigationManager.NavigateTo($"product/{id}");
    }
}