﻿@page "/product"
@page "/product/{id:int}"
@inject IProductService ProductService
@using blazor_crud.Models

@if (Id is null)
{
    <PageTitle>New product</PageTitle>
    <h3>New product</h3>
}
else
{
    <PageTitle>Edit product</PageTitle>
    <h3>Edit @product.Name</h3>
}

@code {

    [Parameter]
    public int? Id { get; set; }
    public Product product { get; set; } = new Product();

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
        {
            // Create new product
        }
        else
        {
            // Edit product
            await ProductService.GetProductById((int)Id);
        }
    }

}
