<div class="container" style="margin-bottom: 10px;">
    <h1>rickandmorty</h1>
</div>
<div class="container" style="margin-bottom: 10px;">
    <div class="card" *ngFor="let item of characters; let i = index">
        <img *ngIf="i % 2 == 0" src="{{ item.image }}">
        <p>{{ i + 1 }} Name: {{ item.name.length > 15 ? item.name.substring(1, 15) :  item.name }}</p>
        <br>
        <p>Gender: {{ item.gender }}</p>
        <br>
        <p>Species: {{ item.species }}</p>
    </div>
</div>
<div class="container">
    <div style="margin: 10px; border-style: solid; padding: 1px; cursor: pointer;">PREV</div>
    <div style="margin: 10px; border-style: solid; padding: 1px; cursor: pointer;">NEXT</div>
</div>