.container {
    border-style: dashed;
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    justify-content: center;
}

.card {
    width: 200px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    background-color: #f1f1f1;
    text-align: center;
    line-height: 0px;
}

img {
    width: 200px;
    height: 200px;
}

p {
    display: inline-block;
}